.wrapper {
    display: flex;
    min-height: 7rem;
    justify-content: start;
    flex-direction: column;
    
}

.wrapper #color{
    margin: 3rem auto;
}

.wrapper #change{
    min-height: 2rem; 
    min-width: 7rem;
    margin: auto;
}